<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--
	namespace: 해당 xml 파일을 어떤 Mapper 인터페이스와 연결할지 지정
-->
<mapper namespace="com.kh.mybatis.model.mapper.MemberMapper">
	<!-- 
		id: 연결된 인터페이스에서 실행될 메서드명 
		resultType: 쿼리문의 결과를 매핑할 타입 지정
					클래스(DTO/VO)인 경우 (별도의 설정이 없었다면) 전체 클래스명으로 작성해야 함
					=> resultType="com.kh.mybatis.model.dto.MemberDTO"
			- 클래스명만 지정하고자 할 경우, 설정 추가 (=> application.properties)
		parameterType: 쿼리문 실행 시 사용될 전달 데이터 타입 지정
	-->
	<select id="findAll" resultType="MemberDTO">
		SELECT id, name, email, age FROM member ORDER BY id
	</select>
	<!-- resultType은 보통 셀렉트 태그 안에만 작성! -->
	
	<insert id="insert" parameterType="MemberDTO">
		INSERT INTO member (id, name, email, age)
		VALUES (SEQ_MEMBER_ID.NEXTVAL, #{name}, #{email}, #{age})
	</insert>
	
	<select id="findById" resultType="MemberDTO">
		SELECT id, name, email, age FROM member WHERE id = #{id}
	</select>
	
	<update id="update">
		UPDATE member SET name = #{name}, email = #{email}, age =#{age} WHERE id = #{id} 
	</update>
	
	<delete id="delete">
		DELETE FROM member WHERE id = #{id}
	</delete>
	
</mapper>